## What's Changed
# {{ version.as_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})
{{ release["elements"] }}
{% for type_, commits, scope_ in release["elements"] | dictsort %}
## {{ type_ | capitalize }}
{% for commit in commits %}
{% if type_ != "unknown" %}
* {{ commit.message.rstrip() }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{% else %}
* {{ scope_ }}
* {{ commit.message.rstrip() }} {{ commit }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{% endif %}
{% endfor %}
{% endfor %}